[submodule "PythonRoad"]
	path = PythonRoad
	url = https://github.com/gkal19/PythonRoad
[submodule "GoRoad"]
	path = GoRoad
	url = https://github.com/gkal19/GoRoad
[submodule "NodeRoad"]
	path = NodeRoad
	url = https://github.com/gkal19/NodeRoad
[submodule "RubyRoad"]
	path = RubyRoad
	url = https://github.com/gkal19/RubyRoad
